<h1>Welcome to the blog</h1>
<%- include ("../views/partials/messages.ejs") %>
<button formmethod="GET" formaction="/api/posts/postForm" class="btn btn-secondary">Create Post</button>

<% for ( let i = posts.length-1 ; i >= 0 ; i-- ) { %>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#"><%= posts[i].author %></a>
        </div>
        <h2><a class="article-title" href="#"><%= posts[i].title %></a></h2>
        <p class="article-content"><%= posts[i].content %></p>
    </div>
</article>
<% } %>