<h1>The person you entered is already in db. Please try again.</h1>
<div class="text-center mt-4">
    <form action="/" method="GET" class="mb-4 ml-3 ">
        <button type="submit" class="btn btn-secondary">Back to home Page</button>
    </form>
</div>