<!-- Code from traversy media -->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Create a Post
            </h1>
            <form action="/api/posts/createPost" method="POST" id="post_form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title of Post"
                        value="<%= typeof title != 'undefined' ? title : '' %>" />
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" id="author" name="author" class="form-control" placeholder="Enter author's name"
                        value="<%= typeof author != 'undefined' ? author : '' %>" />
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" cols="40" rows="5"
                        placeholder="Enter Occupation">
                        <%= typeof content != 'undefined' ? content : '' %>
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    create
                </button>
            </form>
        </div>
    </div>
</div>